body,
html {
  margin: 10;
  padding: 0;
}

button {
  color: #444444;
  background: #f3f3f3;
  border: 1px #dadada solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 32pt;
  outline: none;
}

button:hover {
  border: 1px #c6c6c6 solid;
  box-shadow: 1px 1px 1px #eaeaea;
  color: #333333;
  background: #f7f7f7;
}

button:active {
  box-shadow: inset 1px 1px 1px #dfdfdf;
}

/* Blue button as seen on translate.google.com*/
button.blue {
  color: white;
  background: #4c8ffb;
  border: 1px #3079ed solid;
  box-shadow: inset 0 1px 0 #80b0fb;
}

button.blue:hover {
  border: 1px #2f5bb7 solid;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #5a94f1;
  background: #3f83f1;
}

button.blue:active {
  box-shadow: inset 0 2px 5px #2370fe;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 0.5em;
}

.container p {
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.5em;
}

#qrcontainer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  transition: all 0.3s;
}
#qrcontainer.hidden {
  opacity: 0;
  visibility: hidden;
}

#qrcontainer .qframe {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  border: #6d8a88 1px solid;
  -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
  position: relative;
}
#qrcontainer .qframe #refresh_qrcode {
  width: 256px;
  height: 256px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 1rem;
  top: 1rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#qrcontainer .qframe #refresh_qrcode.hidden {
  opacity: 0;
  visibility: hidden;
}
#qrcontainer .qframe #refresh_qrcode h3 {
  font-weight: normal;
}
#qrcontainer .qframe #refresh_qrcode .refresh {
  display: block;
  background: #e4393c;
  width: 80px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  opacity: 1;
  z-index: 19;
  color: #fbfbfb;
  text-decoration: none;
  cursor: pointer;
}
#qrcontainer .qframe .info {
  padding: 1rem 0 0 0;
}

@media screen and (max-width: 480px) {
  .container p {
    font-size: 0.75rem;
    margin: 0;
    line-height: 1.5em;
  }
}

@media (min-width: 992px) {
  .elk-app {
    height: 100%;
  }
  .elk-side {
    width: 20rem;
  }
  .elk-container,
  .elk-main,
  .elk-side {
    overflow-y: auto;
  }
}
.elk-app,
body > .ember-view {
  margin-top: 8rem;
}
.bg-log {
  background: #f5f2f0;
}
.bg-light {
  background-color: #f8f9fa !important;
}
.text-dark {
  color: #343a40 !important;
}
